.first-div{
  text-align: center;
    padding: 30px;
    align-items: vertical;
}
.first-div-h1{
    font-family: 'Benne', serif;
}
.first-div h4{
    padding: 10px;
    font-weight: bold;
    line-height: 1.2;
    color: grey;
    font-family: 'Noto Sans JP', sans-serif;

}
.first-div-button{
    display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
}
.first-div-input{
    margin-top: 5px;
    margin-bottom: 5px;
}
.no-of-courses{
    display: flex;
    justify-content: center;
}

.dynamicallyGeneratedDivs{
    margin-left: auto;
    margin-right: auto;
}
.dselect{
   display: flex;
   justify-content: center;
   padding-bottom: 20px;
}

.findGrade{
    text-align: center;
}

#output{
    text-align: center;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
.github-icon{
    text-align: center;
}
.fab{
    color: black;
    margin-top: 5px;
    margin-right: 10px;
}


